html, body {
 
  margin:0;
  padding: 0;
  background-color: #7A553A;
  background-image: url(./cenas/3858.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: vollkorn;
  src: url(./assets/Vollkorn-Bold.ttf);
}
.todos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.greeting{
  display: flex;
  font-size: 17px;
  color: white;
  font-family: vollkorn;
  text-align: center;
  justify-content: center;
}
.greeting2{
    width: 400px;
    flex-direction: column;
    justify-content: center;  
    font-family: vollkorn;
    color: white;
    font-size: 17px;  
}

